@model HumanResources.Core.Entities.CreditCard

@{
    ViewData["Title"] = "Create";
}


<h4>Kredi Kartı Oluştur</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="CardName" class="control-label"></label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="NameSurname" class="control-label"></label>
                <input asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Bakiye" class="control-label"></label>
                <input asp-for="Bakiye" class="form-control" />
                <span asp-validation-for="Bakiye" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CompanyId" class="control-label"></label>
                    <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
                </div>*@
        <div class="text-center">
            <input type="submit" value="Ekle" class="btn btn-primary" />
            <button class="btn btn-secondary" asp-action="Index">Kredi Kartlarıma Dön</button>

        </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
